.MySubjects {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.MySubjects--article {
  flex: 1;
  overflow: scroll;
  position: relative;
}

.MySubjects--footer {
  background-color: red;
  overflow: hidden;
}

.MySubjects--adviewer {
  background-color: blue;
  height: 205px;
  width: 100%;
  img {
    width: inherit;
  }
}

ul {
  list-style: none;
  padding: 0;
  span {
    padding-left: 10px;
  }
}

li {
  width: 100%;
  height: 100%;
  font-size: 2.5em;
}
.Mysubjects--solve-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 205px;
  height: 80px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0)
  );
}
.Mysubjects--solve-button {
  all: unset;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: rgb(252, 55, 63);
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  height: 30px;
}

.Mysubjects--chils {
  text-align: center;
  display: grid;
  grid-template-columns: 130px 130px 130px;
  grid-template-rows: 130px 130px 130px;
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
}

.Mysubjects--chil-wrapper {
  width: 100%;
  height: 100%;
  background-color: skyblue;
  border: 1px solid;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Mysubjects--chil-wrapper-2 {
  width: 100%;
  height: 100%;
  background-color: orange;
  border: 1px solid;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
